postgresql://[username]:[password]@[host]:[port]/[database]
DATABASE_URL=<URL>

DOCKER_PG_USER=<TEXT>
DOCKER_PG_PASSWORD=<INT>
DOCKER_PG_DB=<TEXT>
DOCKER_DB_PORT=<INT>

GOLANG_MIGRATE=<PATH>
MIGRATIONS_DIR=<PATH>